---
const { class: cls, ...props } = Astro.props;
---

<style>
    .highlight {
        background-color: var(--colorHighlightBg);
        color: var(--colorHighlightText);

        border-radius: var(--radiusSm);
    }
</style>

<span class:list={["highlight", cls]} , {...props}>
    <span style={{ fontSize: "50%" }}>&nbsp;</span>
    <slot />
    <span style={{ fontSize: "50%" }}>&nbsp;</span>
</span>
