---
const { class: cls, ...props } = Astro.props;
---

<style>
    .section-title-wrapper {
        transform-origin: bottom left;
        transform: rotate(90deg);
    }

    .section-title {
        font-family: var(--fontMono);
        font-weight: var(--fontWeightSm);
        font-size: var(--fontSizeMd);

        text-transform: lowercase;

        color: var(--colorSectionTitle);

        &::before {
            content: "[ ";
        }

        &::after {
            content: " ]";
        }
    }

    @media only screen and (max-width: 600px) {
        .section-title-wrapper {
            transform: none;
        }
    }
</style>

<div class:list={cls}>
    <div class="section-title-wrapper">
        <span class="section-title" , {...props}>
            <slot />
        </span>
    </div>
</div>
