---
import CustomImage from "../components/CustomImage.astro";
import Row from "../components/rows/Row.astro";
import AboutLayout from "../layouts/AboutLayout.astro";
---

<style>
    .col {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .col1 {
        grid-column: 1 / 3;
    }

    .col2 {
        grid-column: 4 / -1;
    }

    .crooked {
        transform-origin: top center;
        animation: crooked 0.5s ease-in-out 1s forwards;
    }

    .row {
        padding-left: 0;
        padding-right: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: var(--fontWeightLg);
        color: var(--colorText);
    }

    h4 {
        padding-left: 1em;
    }

    h5 {
        all: unset;

        font-family: var(--fontMono);
        font-size: var(--fontSizeSm);
    }

    h2 {
        margin-block-start: var(--spacingLg);
    }

    p,
    ul,
    li {
        color: var(--colorTextSecondary);
    }

    p {
        font-weight: var(--fontWeightSm);
    }

    ul {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
    }

    li {
        padding-left: 1em;
        text-indent: -1em;

        font-weight: var(--fontWeightSm);
    }

    li:before {
        content: "_ ";
        padding-right: var(--spacingSm);
    }

    strong {
        font-weight: var(--fontWeightMd);
    }

    @keyframes crooked {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(-3deg);
        }
    }

    @media only screen and (max-width: 600px) {
        .col1 {
            grid-column: 1 / -1;
        }

        .col2 {
            grid-column: 1 / -1;
        }
    }
</style>

<AboutLayout>
    <Row class="row">
        <div class="col col1 crooked">
            <CustomImage
                src="/assets/michele-tonizzo-portrait.jpg"
                alt="Michele Tonizzo portrait picture"
                width={1200}
                height={1500}
            />
        </div>

        <div class="col col2">
            <p>
                <p>
                    I am the co-founder of <a
                        target="_blank"
                        href="https://www.moi.am">moi</a
                    >, a deep-tech startup that pioneered <a
                        target="_blank"
                        href="https://www.compositesworld.com/articles/continuous-fiber-manufacturing-cfm-with-moi-composites"
                        >robotic 3D printing</a
                    >
                     for advanced composites;<br />
                     the creator of <a
                        target="_blank"
                        href="https://robbreport.com/motors/marine/moi-composites-3-d-printed-vessel-future-of-boat-building-1234583213/"
                        >MAMBO</a
                    >, the world's first functional 3D-printed boat;<br />
                     the research lead on the award-winning <a
                        target="_blank"
                        href="https://3dprint.com/150415/atropos-3d-printing-robotics/"
                        >Atropos</a
                    > project, among many other <a
                        target="_blank"
                        href="https://brainy-seal-8fe.notion.site/Lab-a111a9a8d61c4e3da0325de0d26c82ff"
                        >+LAB's</a
                    > activities;<br />
                     the designer of the sculptures for the <a
                        target="_blank"
                        href="https://www.archdaily.com/913934/rex-unveils-final-design-for-mirrored-necklace-residence"
                        >Necklace Residence</a
                    > and a designer of the <a
                        target="_blank"
                        href="https://www.nytimes.com/2023/09/13/arts/design/perelman-performing-arts-center-review.html"
                        >Perelman Center</a
                    >;<br />
                     and a teaching assistant for the M.Arch program at the
                    School of Architecture of Politecnico di Milano.
                </p>

                <p>
                    As an enthusiastic <strong>tech leader</strong> I spent the
                    last decade turning diverse ideas into successful products.
                    I coordinated every aspect of the process from brainstorming
                    to R&D and GTM strategies, ensuring fruitful collaboration
                    among cross-functional engineering, design, marketing, and
                    sales teams.
                </p>

                <p>
                    In addition to my professional endeavors, I actively
                    contribute to the academic community as a <strong
                        >teaching assistant</strong
                    > at the School of Architecture of Politecnico di Milano,
                    while also speaking at numerous international conferences
                    and seminars.
                </p>
            </p>
        </div>
    </Row>
</AboutLayout>
