---
import CustomImage from "../components/CustomImage.astro";
import Row from "../components/rows/Row.astro";
import AboutLayout from "../layouts/AboutLayout.astro";
---

<style>
    .col {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .col1 {
        grid-column: 1 / 3;
    }

    .col2 {
        grid-column: 4 / -1;
    }

    .crooked {
        transform-origin: top center;
        animation: crooked 0.5s ease-in-out 1s forwards;
    }

    .row {
        padding-left: 0;
        padding-right: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: var(--fontWeightLg);
        color: var(--colorText);
    }

    h4 {
        padding-left: 1em;
    }

    h5 {
        all: unset;

        font-family: var(--fontMono);
        font-size: var(--fontSizeSm);
    }

    h2 {
        margin-block-start: var(--spacingLg);
    }

    p,
    ul,
    li {
        color: var(--colorTextSecondary);
    }

    p {
        font-weight: var(--fontWeightSm);
    }

    ul {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
    }

    li {
        padding-left: 1em;
        text-indent: -1em;

        font-weight: var(--fontWeightSm);
    }

    li:before {
        content: "_ ";
        padding-right: var(--spacingSm);
    }

    strong {
        font-weight: var(--fontWeightMd);
    }

    @keyframes crooked {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(-3deg);
        }
    }

    @media only screen and (max-width: 600px) {
        .col1 {
            grid-column: 1 / -1;
        }

        .col2 {
            grid-column: 1 / -1;
        }
    }
</style>

<AboutLayout>
    <Row class="row">
        <div class="col col1 crooked">
            <CustomImage
                src="/assets/michele-tonizzo-portrait.jpg"
                alt="Michele Tonizzo portrait picture"
                width={1200}
                height={1500}
            />
        </div>

        <div class="col col2">
            <p>I am an architect and a devoted maker.</p>

            <p>
                As a enthusiastic <strong>Technology and Product Leader</strong
                >, I&#39;ve spent the last eight years turning diverse ideas
                into successful products, coordinating every aspect of the
                process from brainstoriming to R&amp;D, marketing and sales, all
                while ensuring fruitful collaboration of cross-functional
                engineering and design teams.
            </p>
            <p>
                In 2018, I co-founded <strong>moi composites</strong>, a
                pioneering European tech startup that specializes in advanced
                composite and robotics-based 3D printing systems. We aimed to
                revolutionize the industry. As <strong
                    >President and Chief Technology Officer</strong
                >
                 I led groundbreaking projects such as <strong>MAMBO</strong>
                 and the establishment of <strong>moi dental</strong>, a
                subsidiary focused on bio-medical solutions.
            </p>
            <p>
                My career began at Politecnico di Milano's <strong>+LAB</strong
                >, where I supervised the internationally acclaimed <strong
                    >Atropos</strong
                > project. This led to important recognitions, including the
                2017 JEC Innovation Award and being finalists at the 2017 Dyson
                Award. As a designer, I also contributed at <strong>REX</strong>
                 in NYC, participating in the development of iconic projects
                like the Perelman Performing Arts Center and the Necklace
                Residence, both of which were featured in prominent
                publications.
            </p>
            <p>
                In addition to my professional endeavors, I actively contribute
                to the academic community as a <strong
                    >teaching assistant</strong
                > at the School of Architecture of Politecnico di Milano, while
                also speaking at numerous international conferences and
                seminars.
            </p>
        </div>
    </Row>

    <h2 id="core-competences">Core Competences</h2>

    <ul>
        <li>
            <strong>Technical</strong> Product &amp; Process Development /
            Hardware &amp; Software Design / Robotics / Digital Manufacturing /
            APIs / Machine Learning
        </li>
        <li>
            <strong>Analytical</strong> Data Analysis &amp; Visualisation /
            Reporting &amp; Presentation / Customer Feedback Analysis
        </li>
        <li>
            <strong>Leadership</strong> Strategic Vision and Planning /
            Cross-functional Collaboration / Strategic Partnership Development
        </li>
        <li>
            <strong>Programming</strong> Rust / Go / Python / C# / Javascript /
            SQL
        </li>
        <li>
            <strong>Design</strong> Fusion360 / Rhino / Grasshopper / Ps / Ai /
            Id
        </li>
        <li><strong>Languages</strong> English / Italian</li>
    </ul>
    <h2 id="professional-experiences">Professional experiences</h2>
    <h3 id="moi-composites-moi-dental">moi composites &amp; moi dental</h3>
    <h5 id="february-2018-december-2023">February 2018 =&gt; December 2023</h5>
    <h4 id="chief-tecnology-officer">Chief Tecnology Officer</h4>
    <ul>
        <li>
            <strong>Led the development</strong> of an industrial 3D printing
            composite system, <strong
                >establishing productive partnerships</strong
            > with industry giants including Autodesk, KUKA, and Malo Clinic
        </li>
        <li>
            Directed collaborative <strong
                >planning and budgeting efforts for Italian and European
                projects</strong
            >, partnering with a diverse network of companies, universities, and
            research centers
        </li>
        <li>
            Operated the <strong>company&#39;s public relations</strong>,
            conducting interviews, coordinating direct communications, and
            fostering relationships with international press entities and
            journals
        </li>
        <li>
            Led the <strong
                >product and process development of Hi-Fiber biomedical devices</strong
            >, culminating in an <strong>ISO 13485 certified process</strong>,
            achieved through the design of custom solutions in the production
            chain, successfully <strong
                >bringing the concept to market readiness</strong
            >
        </li>
        <li>
            Orchestrated the <strong>unified brand identity</strong> of both
            companies across digital platforms, print media, and trade shows,
            overseeing <strong>stand design and communication strategies</strong
            > to ensure cohesive representation
        </li>
        <li>
            <strong>Designed and independently developed</strong> the
            company&#39;s cloud infrastructure, Hi-Design CAD software,
            websites, and API services to streamline the order and production
            processes
        </li>
    </ul>
    <h4 id="president">President</h4>
    <ul>
        <li>
            Managed <strong>board and partner meetings</strong> and presented
            company results and performance data to guide strategic decisions
        </li>
        <li>
            Directed the successful <strong>launch of the subsidiary</strong>
             moi dental during the summer of 2020, which quickly reached a point
            of <strong>self-sustaining revenue</strong>
        </li>
    </ul>
    <h3 id="freelance">Freelance</h3>
    <h5 id="december-2020-today">December 2020 =&gt; Today</h5>
    <h4 id="developer">Developer</h4>
    <ul>
        <li>
            Managed end-to-end development of front-ends, back-ends and
            applications, explored and implemented new technologies, and
            collaborated with creative agencies to ensure client satisfaction
        </li>
    </ul>
    <h3 id="-lab-politecnico-di-milano">+LAB - Politecnico di Milano</h3>
    <h5 id="may-2015-january-2018">May 2015 =&gt; January 2018</h5>
    <h4 id="research-lead">Research Lead</h4>
    <ul>
        <li>
            <strong>Directed the research in 3D printing</strong> of advanced
            composites materials through the development of slicing algorithms,
            robotic programming, and innovative mechanical equipment design
        </li>
        <li>
            Effectively <strong>promoted +LAB research</strong> through the <strong
                >design of compelling exhibitions</strong
            > at prestigious trade shows like MakerFaire, while also taking the
            lead in <strong
                >crafting impactful press releases and articles</strong
            >
        </li>
        <li>
            Played a fundamental role in <strong
                >launching the +Ability research</strong
            > line, which leverages technology to facilitate daily tasks for
            individuals facing challenges in their daily lives, a role involving


            <strong>understanding needs</strong>, and contributing to <strong
                >design, concept testing, and prototype</strong
            > development stages
        </li>
    </ul>
    <h4 id="process-optimization-specialist">
        Process Optimization Specialist
    </h4>
    <ul>
        <li>
            Specialized in <strong>optimizing the 3D printing process</strong>
             for short and long fiber composite materials as well as geopolymer
            and clay, leading to successful and reliable processes adopted and
            utilized by the department for broader research initiatives
        </li>
        <li>
            Developed <strong
                >one of the world’s first support-free non-linear slicing
                algorithms</strong
            >, aiming to revolutionize the creation of mechanically optimized
            and structurally efficient products
        </li>
    </ul>
    <h3 id="rex">REX</h3>
    <h5 id="october-2014-april-2015">October 2014 -&gt; April 2015</h5>
    <h4 id="architectural-designer">Architectural Designer</h4>
    <ul>
        <li>
            Contributed in the <strong>development and visualisation</strong> of
            design components for the Perelman Art Center in NYC, **crafting
            detailed drawings and renderings that contributed to the project
            winning the competition
        </li>
        <li>
            Initiated and <strong>led the innovative design</strong> of common
            spaces for the Necklace Residence multi-house project in Long
            Island, personally contributing to the <strong
                >crafting of detailed construction drawings</strong
            > and guidelines
        </li>
    </ul>
    <h3 id="luraschi-partners">Luraschi &amp; Partners</h3>
    <h5 id="september-2011-march-2012">September 2011 -&gt; March 2012</h5>
    <h4 id="architectural-intern">Architectural Intern</h4>
    <ul>
        <li>
            Developed innovative concepts and assisted in crafting construction
            drawings, successfully navigating and overcoming the complex
            challenges of building apartments in historic urban areas.
        </li>
    </ul>
    <h2 id="academic-experiences">Academic experiences</h2>
    <h3 id="teaching-assistant">Teaching Assistant</h3>
    <h5 id="march-2019-september-2022">March 2019 -&gt; September 2022</h5>
    <p>
        Design and Construction Studio, Master of Architecture // School of
        Architecture - Politecnico di Milano
    </p>
    <h3 id="mentor-and-thesis-advisor">Mentor and Thesis Advisor</h3>
    <h5 id="january-2016-january-2018">January 2016 -&gt; January 2018</h5>
    <p>
        Guided and mentored students throughout their thesis development at
        +LAB, leading them to high-scoring graduations
    </p>
    <h3 id="tutor">Tutor</h3>
    <h5 id="october-2018-november-2018">October 2018 -&gt; November 2018</h5>
    <p>
        Il Prefabbricato: What if Angelo Mangiarotti had 3D printers? Workshop
        // School of Architecture &amp; TU Gratz
    </p>
    <h3 id="teaching-assistant">Teaching Assistant</h3>
    <h5 id="october-2016-october-2017">October 2016 -&gt; October 2017</h5>
    <p>
        Architectural Design Studio, Master of Architecture // School of
        Architecture - Politecnico di Milano
    </p>
    <h2 id="patents">Patents</h2>
    <p>
        Process for Making a Reinforcing Structure for Dental Prostheses in
        Continuous Fiber Composite Materials <strong>WO2021111287A1</strong>
         December 2019
    </p>
    <p>
        Equipment and Method for the Three-Dimensional Printing of Continuous
        Fiber Composite Materials <strong>WO2021038503A1</strong> August 2019
    </p>
    <p>
        Method and Apparatus for the Construction of Three-Dimensional
        Fibre-Reinforced Structures from a Pre-Existing Object <strong
            >WO2020245774A1</strong
        > June 2019
    </p>
    <p>
        Method for Three-Dimensional Printing of Fiber Composite Materials <strong
            >Pending</strong
        >
    </p>
    <p>
        Equipment and Process for the Three-Dimensional Printing of Composite
        Materials <strong>Pending</strong>
    </p>
    <h2 id="seminars-and-interviews">Seminars and interviews</h2>
    <p>
        Print my Yacht! <strong>Boat International n.437</strong> November 2022
    </p>
    <p>
        Hi-Fiber makes the perfect smile <strong
            >JEC Composites Magazine n.144</strong
        > January 2022
    </p>
    <p>
        Composites Made Easy. Simplify composites production with CFM 3D
        printing technology <strong
            >AZL - Excellence in Lightweight Production</strong
        > February 2021
    </p>
    <p>
        moi: redefine manufacturing <strong
            >Technology Foresight New humanism and technology - NTT DATA</strong
        > Milano, Italy // July 2019
    </p>
    <p>
        CFM fiber optimization for 3D printed light-weight structural parts <strong
            >Additive Manufacturing: real reinforced parts Conference Session
            JEC World</strong
        > Paris, France // March 2019
    </p>
    <p>
        Q&amp;A: Michele Tonizzo Co-Founder of moi <strong
            >3D Printing Industry</strong
        > September 2018
    </p>
    <p>
        Stress based 3D printing with continuous fiber thermosetting composites <strong
            >Final Seminar of BioCity Turku Biomaterial and Medical Device
            Research Program</strong
        > Turku, Finland // May 2018
    </p>
    <p>
        Smart Composites for Additive Manufacturing: From research to market <strong
            >RadTech Technology Expo and Conference</strong
        > Chicago, USA // May 2018
    </p>
</AboutLayout>
