---
import CustomImage from "../components/CustomImage.astro";
import Row from "../components/rows/Row.astro";
import AboutLayout from "../layouts/AboutLayout.astro";
---

<style>
    .col {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .col1 {
        grid-column: 1 / 3;
    }

    .col2 {
        grid-column: 4 / -1;
    }

    .crooked {
        transform-origin: top center;
        animation: crooked 0.5s ease-in-out 1s forwards;
    }

    .row {
        padding-left: 0;
        padding-right: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: var(--fontWeightLg);
        color: var(--colorText);
    }

    h4 {
        padding-left: 1em;
    }

    h5 {
        all: unset;

        font-family: var(--fontMono);
        font-size: var(--fontSizeSm);
    }

    h2 {
        margin-block-start: var(--spacingLg);
    }

    p,
    ul,
    li {
        color: var(--colorTextSecondary);
    }

    p {
        font-weight: var(--fontWeightSm);
    }

    ul {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
    }

    li {
        padding-left: 1em;
        text-indent: -1em;

        font-weight: var(--fontWeightSm);
    }

    li:before {
        content: "_ ";
        padding-right: var(--spacingSm);
    }

    strong {
        font-weight: var(--fontWeightMd);
    }

    @keyframes crooked {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(-3deg);
        }
    }

    @media only screen and (max-width: 600px) {
        .col1 {
            grid-column: 1 / -1;
        }

        .col2 {
            grid-column: 1 / -1;
        }
    }
</style>

<AboutLayout>
    <Row class="row">
        <div class="col col1 crooked">
            <CustomImage
                src="/assets/michele-tonizzo-portrait.jpg"
                alt="Michele Tonizzo portrait picture"
                width={1200}
                height={1500}
            />
        </div>

        <div class="col col2">
            <p>I am an architect and a devoted maker.</p>

            <p>
                As a enthusiastic <strong>Technology and Product Leader</strong
                >, I've spent the last decade turning diverse ideas into
                successful products, coordinating every aspect of the process
                from brainstoriming to R&D, marketing and sales, all while
                ensuring fruitful collaboration of cross-functional engineering
                and design teams.
            </p>
            <p>
                In 2018, I co-founded <strong>moi composites</strong>, a
                world-renowned leader robotics systems and advanced
                materials. As <strong
                    >President and Chief Technology Officer</strong
                >
                 I led groundbreaking projects such as <strong>MAMBO</strong>
                 and the establishment of <strong>moi dental</strong>, a
                subsidiary focused on bio-medical solutions.
            </p>
            <p>
                My career began at Politecnico di Milano's <strong>+LAB</strong
                >, where I supervised the internationally acclaimed <strong
                    >Atropos</strong
                > project. This led to important recognitions, including the
                2017 JEC Innovation Award and being finalists at the 2017 Dyson
                Award. As a designer, I also contributed at <strong>REX</strong>
                 in NYC, participating in the development of iconic projects
                like the Perelman Performing Arts Center and the Necklace
                Residence, both of which were featured in prominent
                publications.
            </p>
            <p>
                In addition to my professional endeavors, I actively contribute
                to the academic community as a <strong
                    >teaching assistant</strong
                > at the School of Architecture of Politecnico di Milano, while
                also speaking at numerous international conferences and
                seminars.
            </p>
        </div>
    </Row>

    <h2 id="core-competences">Core Competences</h2>

    <ul>
        <li>
            <strong>Managerial</strong>
             Strategic Thinking & Planning - Prioritization - Problem Solving -
            Effective Communication - Roadmapping - AGILE
        </li>
        <li>
            <strong>Leadership</strong>
             Decision Making - Cross-functional Management - Strategic
            Partnerships - Communication & Public Speaking - Mentoring
        </li>

        <li>
            <strong>Analytical</strong>
             Data Analysis & Visualisation - Reports & Presentation - Customer
            Feedback Analysis - Market Research
        </li>
        <li>
            <strong>Technical</strong>
             Product Development - Software Development - Robotics - Digital
            Manufacturing - Cloud Architecture Design
        </li>

        <li>
            <strong>Programming</strong>
             Python - Typescript - SQL - C# - Go - Rust
        </li>
        <li>
            <strong>Design</strong>
             Fusion360 / Rhino / Grasshopper / Ps / Ai / Id
        </li>

        <li><strong>Languages</strong> English / Italian</li>
    </ul>
</AboutLayout>
