---
const { class: cls, ...props } = Astro.props;
import Row from "./Row.astro";
---

<style>
    .centered {
        grid-column: 3 / 7;

        display: flex;
        min-height: 50vh;

        flex-direction: column;
        justify-content: center;
        align-items: center;

        text-align: center;
    }

    @media only screen and (max-width: 600px) {
        .centered {
            grid-column: 1 / -1;

            text-align: left;
        }
    }
</style>

<Row>
    <section class:list={["centered", cls]} {...props}>
        <slot />
    </section>
</Row>
