@font-face {
    font-family: "switzer";
    src: url("/fonts/switzer/Switzer-Variable.ttf") format("truetype");
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "switzer";
    src: url("/fonts/switzer/Switzer-VariableItalic.ttf") format("truetype");
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "literata";
    src: url("/fonts/literata/Literata-Variable.ttf") format("truetype");
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "literata";
    src: url("/fonts/literata/Literata-VariableItalic.ttf")
        format("truetype");
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "archia";
    src: url("/fonts/archia/archia-light-webfont.eot");
    src:
        url("/fonts/archia/archia-light-webfont.eot?#iefix")
            format("embedded-opentype"),
        url("/fonts/archia/archia-light-webfont.woff2") format("woff2"),
        url("/fonts/archia/archia-light-webfont.woff") format("woff"),
        url("/fonts/archia/archia-light-webfont.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "archia";
    src: url("/fonts/archia/archia-regular-webfont.eot");
    src:
        url("/fonts/archia/archia-regular-webfont.eot?#iefix")
            format("embedded-opentype"),
        url("/fonts/archia/archia-regular-webfont.woff2") format("woff2"),
        url("/fonts/archia/archia-regular-webfont.woff") format("woff"),
        url("/fonts/archia/archia-regular-webfont.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "archia";
    src: url("/fonts/archia/archia-semibold-webfont.eot");
    src:
        url("/fonts/archia/archia-semibold-webfont.eot?#iefix")
            format("embedded-opentype"),
        url("/fonts/archia/archia-semibold-webfont.woff2") format("woff2"),
        url("/fonts/archia/archia-semibold-webfont.woff") format("woff"),
        url("/fonts/archia/archia-semibold-webfont.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'archia';
    src: url('/fonts/archia/archia-bold-webfont.eot');
    src: url('/fonts/archia/archia-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/archia/archia-bold-webfont.woff2') format('woff2'),
         url('/fonts/archia/archia-bold-webfont.woff') format('woff'),
         url('/fonts/archia/archia-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
