---
import Button from "./Button.astro";
---

<style>
    .menu {
        font-weight: 300;
    }

    .btn {
        font-family: var(--fontMono);
    }
</style>

<section class="menu">
    <Button class="btn">hello</Button>
     //
    <Button class="btn">projects</Button>
     //
    <Button class="btn">about</Button>
</section>
