---
import Menu from "./Menu.astro";
---

<style>
    .navbar {
        position: sticky;
        top: 0;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding-top: var(--spacingMd);
        padding-bottom: var(--spacingMd);

        height: var(--sizeNavbarY);

        &:before {
            position: absolute;
            content: "";

            width: 100%;
            height: 100%;

            background: var(--colorNavbarBg);
            backdrop-filter: blur(30px);

            z-index: 0;
        }
    }

    .logo {
        all: unset;
        cursor: pointer;

        padding-left: var(--spacingMd);
        padding-right: var(--spacingMd);

        font-family: var(--fontMono);
        font-weight: 600;

        z-index: 1;
    }
</style>

<nav class="navbar">
    <a class="logo" href="/">mito</a>
    <Menu />
</nav>
