---
import { getCollection } from "astro:content";

const { class: cls, ...props } = Astro.props;

import Row from "./rows/Row.astro";
import SectionTitle from "./text/SectionTitle.astro";
import ProjectDisplay from "./WebGL/ProjectDisplay.svelte";

const projects = (await getCollection("projects")).sort(
    (a, b) => a.data.order - b.data.order,
);

const rows = Math.max(Math.ceil(projects.length / 2), 8);
---

<style define:vars={{ rows }}>
    .projects {
        padding-left: var(--spacingMd);
        padding-right: var(--spacingMd);
    }

    .projects-project-list {
        grid-column: 5 / -1;
        grid-row: 1 / -1;

        display: grid;

        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: repeat(var(--rows), minmax(0, 1fr));

        gap: var(--spacingMd);
    }

    .projects-project-container {
        padding: var(--spacingMd);

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        border-radius: var(--radiusMd);

        transition-duration: var(--transitionDuration);
        transition-timing-function: var(--transitionTimingFunction);

        &:hover {
            background-color: var(--colorWhite);
        }

        &:hover .projects-project-subtitle {
            opacity: 1;
        }
    }

    .projects-project-subtitle {
        font-family: var(--fontSerif);
        font-size: var(--fontSizeMd);

        color: var(--colorTextSecondary);

        transition-duration: var(--transitionDuration);
        transition-timing-function: var(--transitionTimingFunction);

        opacity: 0;
    }

    .projects-project-title {
        font-family: var(--fontSerif);
        font-weight: var(--fontWeightLg);
        font-size: var(--fontSizeLg);
    }

    .projects-project-category {
        font-family: var(--fontMono);
        font-size: var(--fontSizeSm);

        text-transform: uppercase;

        color: var(--colorProjectsCategory);

        padding-bottom: var(--spacingXs);

        &::before {
            content: "/ ";
        }
    }

    .projects-project-spacer {
        height: var(--spacingLg);
    }

    .projects-display {
        max-height: calc(100vh - var(--sizeNavbarY) - 2 * var(--spacingMd));

        grid-column: 1 / 5;
        grid-row: 1 / -1;

        position: sticky;
        top: var(--sizeNavbarY);

        padding-top: var(--spacingMd);
        padding-bottom: var(--spacingMd);
    }

    .projects-project-visible-container {
        display: flex;
        flex-direction: column;
    }

    @media only screen and (max-width: 600px) {
        .projects {
            display: flex;

            flex-direction: column;
        }

        .projects-display {
            position: relative;

            top: 0;
        }

        .projects-display-canvas {
            display: none;
        }

        .projects-project-container {
            padding: 0;

            flex-direction: column-reverse;
            justify-content: start;
        }

        .projects-project-subtitle {
            opacity: 1;
        }

        .projects-project-list {
            gap: var(--spacingSm);
        }
    }
</style>

<script>
    import { selectedProject } from "./stores/selectedProject";

    attachListeners();

    function attachListeners() {
        const projectsEl = document.querySelectorAll(
            ".projects-project-container",
        );

        projectsEl.forEach((projectEl) => {
            projectEl.addEventListener("mouseenter", handleMouseEnter);
        });
    }

    function handleMouseEnter(event: Event) {
        const target = event.target as HTMLElement;
        const title = target?.querySelector(
            ".projects-project-title",
        )?.innerHTML;

        if (title) {
            selectedProject.set(title);
        }
    }
</script>

<Row class="projects" {...props}>
    <section class="projects-display">
        <SectionTitle class="projects-section-title">
            things I made
        </SectionTitle>

        <ProjectDisplay class="projects-display-canvas" client:only />
    </section>

    <section class="projects-project-list">
        {
            projects.map((project, i) => (
                <a
                    href={`/projects/${project.id}`}
                    class="projects-project-container"
                >
                    <section>
                        <span class="projects-project-subtitle">
                            {project.data.subtitle}
                        </span>
                    </section>

                    <section class="projects-project-spacer" />

                    <section class="projects-project-visible-container">
                        <span class="projects-project-category">
                            {project.data.category}
                        </span>

                        <span class="projects-project-title">
                            {project.data.title}
                        </span>
                    </section>
                </a>
            ))
        }
    </section>
</Row>
