---
import { type HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"video"> {}

const props = Astro.props;
---

<style>
    video {
        border-radius: var(--radiusMd);
    }
</style>

<div>
    <video preload="metadata" {...props}></video>
</div>
